:root{
  /* BASE */
  --color-bg-base: #e2e0be;

  /* LUCI */
  --diamond-light: rgba(255,255,255,0.55);
  --diamond-light-soft: rgba(255,255,255,0.25);

  /* ORO */
  --gold-deep: #d6c700;
  --gold-soft: #efe9a8;

  /* TESTO */
  --color-text-primary: #1c1c1c;
  --font-main: "Segoe UI", sans-serif;
}
