.rectangle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12vw;
    padding: 1vw;
}

.box-img {
    border: 3px solid rgb(199, 171, 43);
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top: 1vw;
    cursor: pointer;
}

.selected {
    border: 6px solid rgb(199, 171, 43);
  }


.img {
    max-width: 13vw;
    height: auto;
    padding: 1.2vw;
}

.title {
    font-size: 1.9vw;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .rectangle {
        margin: 0%;
        width: 60%;
        height: 25vh;
        padding: 0%;
    }

    .img {
        max-width: 100%;
        overflow: hidden;
    }

    .title {
        font-size: 120%;
    }

}