.rectangle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 320px;
    padding: 10px;
}

.box-img{
    border: 3px solid rgb(199, 171, 43);
    background-color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    cursor: pointer;
}
.img {
    max-width: 85%;
    height: auto;
    padding: 10%;
}

.title{
    font-size: 150%;
    font-family: Oswald;
    color: rgb(199, 171, 43);
    text-align: center;
}