.container-line {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.line-delimiter {
  border-top: 2px solid rgb(199, 171, 43);
  border-bottom: 2px solid rgb(199, 171, 43);
  width: 80%;
  padding: 2%;
}

@media screen and (max-width: 500px) {
  .container-line {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}