.footer {
  background-color: white;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid rgb(199, 171, 43);
  bottom: 0;
  left: 0;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.title-Footer {
  flex-direction: row;
}

.container-info {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin-bottom: 1%;
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: 7%;
  max-width: 100px;
  padding: 1%;
}

.footer-text {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  /* Aggiungi margine per separare l'immagine dal testo */
}

@media screen and (max-width:500px) {
  
  .title-Footer h2{
    font-size: 100%;
  }
  
  .container-info {
    flex-direction: column;
  }
  
  .footer-logo {
    width: 4%;
  }
  
  .footer-text {
    font-size: 70%;
  }
  
}