.form {
  display: flex;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.credentials {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.credential {
  padding: 0 0 25px 0;
  margin-left: 50px;
  margin-right: 50px;
}

.voice {
  font-size: 155%;
  color: rgb(199, 171, 43);
  margin-right: 20px;
  font-family: Oswald;
}

.voice-input {
  border: none;
  background-color: transparent;
  border-bottom: 0.5px solid gray;
  font-size: 22px;
  width: 300px;
}
