.home-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.home-header {
  margin-bottom: 30px;
}

.slider-container {
  width: 90%;
  max-width: 800px;
  margin-bottom: 40px;
}

.cta-section {
  margin-top: 20px;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cta-button {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #dfb600;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #c5a300;
}



.slide-carosell{
  width: 90%;
}

.slide img {
  width: 100%;
  /* Larghezza al 100% del contenitore */
  height: 300px;
  /* Altezza fissa */
  object-fit: cover;
  /* Mantiene le proporzioni e riempie il contenitore */
}

/* Media query per schermi più piccoli di 768px (tablet e smartphone) */
@media (max-width: 768px) {
  .home-container {
    margin-top: 5%; /* Riduci il margine superiore */
  }

  

  .side-menu {
    width: 50%; /* Riduci la larghezza del menu laterale */
  }

  .side-menu li {
    margin: 0.5em; /* Riduci il margine tra gli elementi del menu */
  }

  .slide img {
    height: 200px; /* Riduci l'altezza delle immagini nello slider */
  }
}

/* Media query per schermi più piccoli di 480px (smartphone) */
@media (max-width: 480px) {
  .home-container {
    margin-top: 12%; /* Ulteriore riduzione del margine superiore */
  }


  .side-menu {
    width: 50%; /* Rendi il menu laterale a tutta larghezza */
  }

  .slide img {
    height: 150px; /* Ulteriore riduzione dell'altezza delle immagini nello slider */
  }

  .description-home {
    font-size: 14px; /* Riduci la dimensione del font per la descrizione */
  }
}