.modal {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Posiziona tutto a destra */
    margin-bottom: 3vh;
    margin-right: 3vh; /* Ancora il riquadro al bordo destro */
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(199, 171, 43);
    border-radius: 10px;
    padding: 0.5vw;
    background-color: white;
    justify-content: center;
    width: 40vw;
    margin-bottom: 2vh;
}

.container header {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    width: -webkit-fill-available;
}

.container img {
    width: 1.3vw;
}

.inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.3vw;
}

.text {
    font-size: 2.3vw;
    color: rgb(199, 171, 43);
    margin: 0;
}

.total-order {
    font-size: 2.3vw;
    margin: 0;
    margin-left: 0.5vw;
}

.order-container {
    display: flex;
    flex-direction: row;
    margin-right: 2.5vw;
}

.order-container p {
    white-space: nowrap;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-container p {
    text-align: center;
    width: 30vw;
    margin: 0;
    margin-bottom: 2vh;
    font-size: 2vh;
}

.button-container button {
    border: none;
    background-color: transparent;
    font-size: 2vw;
    color: rgb(199, 171, 43);
    font-weight: bold;
}

@media screen and (max-width:500px) {

    .modal{
        margin-bottom: 2vh;
    }

    .container {
        width: 90vw;
        margin-bottom: 1vh;
    }

    .text {
        font-size: 4.5vw;
    }

    .total-order {
        font-size: 4.5vw;
    }

    .order-container {
        margin-right: 5vw;
    }

    .button-container button {
        font-size: 4vw;
    }

    .container img {
        width: 4vw;
    }

    .inner-container {
        margin-bottom: 2.8vw;
    }

    .text-container p {
        width: 80vw;
        margin: 0;
        margin-bottom: 2vh;
        font-size: 1.7vh;
    }
}