/* Input.module.css */
.containerMultiInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.dropzone {
    border: 2px dashed rgb(199, 171, 43);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.textMultiInput {
    font-size: 155%;
    color: rgb(199, 171, 43);
}

.containerPDFMultiInput {
    display: flex;
    flex-direction: column; /* Disporre i PDF uno sotto l'altro */
    align-items: flex-start; /* Allinea a sinistra */
    gap: 10px; /* Spazio tra i PDF */
}

.pdfContainer {
    display: flex;
    align-items: center; /* Allinea verticalmente l'immagine e il nome */
}

.pdfIcon {
    width: 4em; /* /* Mantiene le proporzioni */
    margin-right: 10px; /* Spazio tra l'icona e il nome del file */
}

.pdfName {
    font-size: 16px; /* Dimensione del testo per il nome del file */
}

.totalPages {
    margin-top: 20px; /* Spazio sopra il totale delle pagine */
    font-size: 18px; /* Dimensione del testo per il totale */
    color: rgb(199, 171, 43); /* Colore del testo per il totale */
}