.menu-list {
  font-size: 1.3rem;
  text-align: left;
  margin: 5%;
  padding: 5%;
  list-style: none;
}

.sidebar-menu {
  position: fixed;
  left: 0; /* Cambia il valore da -250px a 0 */
  top: 0;
  width: 300px; /* Cambia la larghezza del menu */
  height: 100%;
  background-color: rgb(199, 171, 43);
  color: #fff;
  transition: left 0.1s ease; /* Cambia la durata della transizione */
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.close-menu-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
