/* Stili globali */
body {
  background-image: url("Sfondo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
}

/* Stili per l'header */
.header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid rgb(199, 171, 43);
  padding: 10px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  z-index: 1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header-section {
  flex: 1;
  text-align: center;
}

.Logo {
  width: 60%;
}

.logo_menu {
  width: 7%;
}

.Logo_Carrello{
  width: 8%; 
}

.header-section.header-section-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px; /* Aggiungi spazio tra il logo e il bordo destra */
}

.menu-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  margin-left: 3%;
}

.sidebar-menu {
  position: fixed;
  left: 0; /* Cambia il valore da -250px a 0 */
  top: 0;
  width: 250px; /* Cambia la larghezza del menu */
  height: 100%;
  background-color: rgb(199, 171, 43);
  color: #fff;
  padding: 1rem;
  transition: left 0.3s ease; /* Cambia la durata della transizione */
  z-index: 1;
}


.close-menu-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.menu-list,
.sub-menu-list {
  list-style: none;
  padding-left: 0;
}

.menu-list li,
.sub-menu-list li {
  position: relative;
}

/*.menu-list li::before,
.sub-menu-list li::before {
  content: "▶";
  position: absolute;
  left: 0;
}*/



.sub-menu-list {
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.menu-list a,
.sub-menu-list a {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.riquadroStudente{
  display: flex;
  justify-content: center;
}

.riquadroInternoStudente{
  text-align: center;
  background-color: rgb(199, 171, 43);
  margin-top: 7%;
  width: 60%;
  border-radius: 10px;
}

.textStudente{
  font-size: 25px;
  font-family: "Roboto";
  letter-spacing: 2px;
}

/* Stili per il container */
.containerRettangoli {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  position: relative;
  z-index: 0;
  margin-bottom: 4%;
}

.rectangle {
  width: 350px;
  background-color: #ffffff;
  margin: 0 25px;
  z-index: 2;
  border: 2px solid rgb(199, 171, 43);
  border-radius: 20px;
}
/* Stili per i titoli dei riquadri */

.titoloRiquadri {
  font-size: 200%;
  color: rgb(199, 171, 43);
  padding: 2%;
  margin: 0;
  margin-left: 6%;
  margin-top: 4%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.immagineRiquadri {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.logoRiquadri {
  width: 40%;
}

/* Stili per i sotto titoli dei riquadri */
.sottoTitoloRiquadro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2%;
  margin-top: 10%;
}

.sottoTitolo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 130%;
  font-family: "Roboto";
  color: rgb(199, 171, 43);
  font-weight: 500;
  word-spacing: 2px;
  text-align: center;
}

/* Stili per il testo dei riquadri */
.testoRiquadri {
  width: 90%;
  display: flex;
  margin: 3%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.testo {
  font-size: 110%;
  font-family: "Roboto";
  letter-spacing: 1px;
}

/* Stili per il footer */
.footer {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid rgb(199, 171, 43);
  padding: 10px;
  box-shadow: 10px -10px 25px rgba(0, 0, 0, 0.4);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 99%;
  z-index: 1;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.footer-section {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  width: 7%;
  max-width: 100px;
  padding: 1%;
}

.footer-text {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px; /* Aggiungi margine per separare l'immagine dal testo */
}

.chiSiamoRiquadro{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
}

.chiSiamoTitolo{
  text-align: center;
  margin-bottom: 1%;
  font-size: 150%;
  font-family: "Roboto";
  color: rgb(199, 171, 43);
}

.chiSiamoDescrizione{
  width: 80%;
  height: auto;
  margin-bottom: 10%;
}